<div>
  <h1><%= @spectacle.style %></h1>
  <p><%= number_to_currency(@spectacle.price, unit: "€")%></p>

  <%= image_tag @spectacle.image %>
</div>

<div>
  <%= link_to "Back", spectacles_path, class: "btn btn-primary" %>
  <%= link_to "Purchase", @basket.add_product(@spectacle, 1), class: "btn btn-primary" %>
</div>
