<div>
  <h1><%= @spectacle.style %></h1>
  <p><%= @spectacle.price %>
    Euro</p>

  <%= image_tag @spectacle.image %>
  <p><%= @spectacle.description %></p>
</div>

<div>
  <%= link_to "Back", spectacles_path, class: "btn btn-outline" %>
  <%= link_to "Purchase", spectacles_path, class: "btn btn-outline" %>
</div>
